@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 /* netflix font on h2 */
h2 {
  font-family: "Bebas Neue", cursive;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.img-filter:hover {
  filter: contrast(115%);
}

.darken-filter {
  filter: brightness(70%);
}

.dark-gradient {
  background: linear-gradient(to bottom, transparent 0%, transparent 45%, black 100%);
}

.text-shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.white-glassmorphism {
  background: rgba(102, 103, 107, 0.094);
  border-radius: 10px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.button-glassmorphism {
  background: rgb(221, 175, 69);
  background: linear-gradient(
    90deg,
    rgba(221, 175, 69, 0.3) 84%,
    rgba(221, 175, 69, 0.01) 100%
  );
  
  border-radius: 10px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.button-glassmorphism:hover{
  background: rgb(221, 175, 69);
  background: linear-gradient(
    90deg,
    rgba(221, 175, 69, 0.6) 84%,
    rgba(221, 175, 69, 0.3) 100%
  );
  
  border-radius: 10px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 1);
}


.row__poster::-webkit-scrollbar{
  display:none;
}

